<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{{ if .IsHome }}{{ site.Title }}{{ else }}{{ printf "%s | %s" .Title site.Title }}{{ end }}</title>
<meta name="description" content="{{ .Site.Params.description }}">
<meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1a1a1f" />
<meta name="theme-color" media="(prefers-color-scheme: light)" content="#f8f8f8" />
<meta name="color-scheme" content="light dark">
<link type="image/svg+xml" rel="icon" href="{{ absURL "favicon.svg" }}" sizes="any" />

{{ partial "head/js.html" . }}
{{ partial "head/css.html" . }}
