/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │       Color Palette (copied from the SVG stylesheet)          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
  --fg-normal-shadow: #8bb8;
  --fg-normal-border: #666;
  --fg-normal:        #333;
  --bg-normal:        #fff;
  /* special keys */
  --fg-special:       #555;
  --bg-special:       #e4e4e4;
  /* 'reach' theme */
  --bg-number:        hsl(295, 100%, 95%);
  --bg-letter:        hsl(222, 100%, 95%);
  --bg-home:          hsl(222, 100%, 90%);
}

@media (prefers-color-scheme: dark) { :root {
  --fg-normal-shadow: #8558;
  --fg-normal-border: #666;
  --fg-normal:        #bbb;
  --bg-normal:        #4d4d4d;
  /* special keys */
  --fg-special:       #888;
  --bg-special:       #333;
  /* 'reach' theme */
  --bg-number:        hsl(280, 10%, 34%);
  --bg-letter:        hsl(220, 15%, 35%);
  --bg-home:          hsl(225, 30%, 30%);
}}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                  Theme & Geometry Selection                   │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard form {
  display: flex;
  justify-content: right;
  margin: 2px;
}

.keyboard fieldset {
  border: none;
  padding: 0 1px;
  margin: 0;
  text-wrap: balance;
}

.keyboard fieldset:first-child {
  display: none;
}

.keyboard fieldset:last-child {
  text-align: right;
}

.keyboard form input {
  box-sizing: border-box;
  width: auto;
  height: 1.8em;
  line-height: 1.8em;
  font-size: 0.8em;
  appearance: none;
  outline: none;
  padding: 0 8px;
  margin: 2px 0;
  background-color: var(--bg-special);
  color: var(--fg-special);
  border: 1px solid #6668;
  border-radius: 2px;
  opacity: 0.6;
  transition: all 50ms linear;
  cursor: pointer;
}

.keyboard form input:checked {
  background-image: linear-gradient(180deg, var(--bg-letter), var(--bg-home));
  background-color: var(--bg-normal);
  text-shadow: 0 1px 0px var(--fg-normal-shadow);
  color: var(--fg-normal);
  opacity: 1;
}

.keyboard form input:before {
  content: attr(label);
  display: inline-block;
  text-align: center;
}

@media only screen and (min-width: 480px) {
  .keyboard fieldset:first-child { display: inline-block; }
  .keyboard form { justify-content: space-between; }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Navigation Bar                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard nav {
  display: none;
  text-align: center;
  text-wrap: balance;
  margin: 1em auto;
}

.keyboard nav a,
.keyboard nav button {
  display: none;
  box-sizing: border-box;
  margin: 2px 1px;
  padding: 0 6px;
  font-family: sans-serif;
  font-size: 1em;
}

.keyboard nav button {
  font-weight: bold;
  cursor: pointer;
  color: var(--fg-main);
}

.keyboard [disabled] {
  pointer-events: none;
  opacity: 0.3;
}

@media only screen and (min-width: 480px) {
  .keyboard nav   { display: block;  }
  .keyboard nav a { display: inline; }
}

@media only screen and (min-width: 768px) {
  .keyboard nav a,
  .keyboard nav button {
    display: inline-block;
    height: 2em;
    line-height: 2em;
    background-color: var(--bg-special);
    border: 1px outset #6668;
    border-radius: 5px;
  }
  .keyboard nav a:hover,
  .keyboard nav button:hover {
    background-color: var(--bg-accent);
    text-decoration: underline;
  }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                      Keyboard Emulation                       │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard dialog {
  max-width: 70em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border: 5px solid var(--bg-banner);
}

.keyboard input {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Keyboard Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

.keyboard {
  margin-bottom: 2.5em;
}

.keyboard p {
  margin: 0 0 1em;
  text-align: right;
}

.keyboard p span {
  float: left;
  font-size: smaller;
}
