.keyboard { margin-bottom: 2.5em; }
.keyboard p { margin: 0; }

.keyboard nav {
  text-align: center;
  margin: 0.7em auto;
}

.keyboard nav a,
.keyboard nav button {
  display: inline-block;
  box-sizing: border-box;
  margin: 1px;
  padding: 0 6px;
  font-size: 1em;
  height: 2.3em;
  line-height: 2.3em;
  font-family: sans-serif;

  background-color: var(--bg-key);
  border: 1px solid #6668;
  border-radius: 5px;
}

.keyboard nav button {
  font-weight: bold;
  cursor: pointer;
  color: var(--fg-main);
}

.keyboard [disabled] {
  pointer-events: none;
  opacity: 0.3;
}

.keyboard dialog {
  max-width: 70em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: var(--bg-main);
  border: 5px solid var(--bg-banner);
}

.keyboard input {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

.keyboard p {
  margin: 0 0 1em;
  text-align: right;
}

.keyboard p span {
  float: left;
  font-size: smaller;
}
