.keyboard { margin-bottom: 2.5em; }
.keyboard p { margin: 0; }

.keyboard nav {
  text-align: center;
  margin: 0.7em auto;
}

.keyboard nav a,
.keyboard nav button {
  display: inline-block;
  box-sizing: border-box;
  margin: 0.5em;
  padding: 0 10px;
  font-size: 1em;
  height: 2.5em;
  line-height: 2.5em;
  text-decoration: none;
  font-family: sans-serif;

  color: #333;
  background-color: #e4e4e4;
  border: 1px solid #6668;
  border-radius: 5px;
}

.keyboard nav button {
  font-weight: bold;
  cursor: pointer;
}

.keyboard [disabled] {
  pointer-events: none;
  opacity: 0.3;
}

#demo {
  max-width: 70em;
  width: 100%;
  padding: 2em;
  margin: auto;
  border-radius: 10px;
  box-sizing: border-box;
  background-color: #fff;
  border: 5px solid #fff4;
}

#demo input,
.keyboard input {
  box-sizing: border-box;
  border-radius: 6px;
  width: 100%;
  height: 2em;
  text-align: center;
  font-size: 1.5em;
  margin-bottom: 1em;
}

#demo p {
  margin: 1em 0;
  text-align: right;
}

#demo p span {
  float: left;
  font-size: small;
}

@media (prefers-color-scheme: dark) {
  #demo {
    background-color: #222;
    border: 5px solid #0004;
  }
  .keyboard nav a,
  .keyboard nav button {
    color: #ccc;
    background-color: #444;
    border: 1px solid #7778;
  }
}
