/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                         Color Palette                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
  color-scheme: light dark;

  /* <html|body|main> background and text colors */
  --bg-root:          #ccc;
  --bg-main:          #f8f8f8;
  --bg-main-shadow:   #888;
  --fg-main-border:   #aaa;
  --fg-main:          #222;

  /* banner -- the foreground matches the favicon #rocket color */
  --bg-banner:        #8882;
  --fg-banner-border: #5446;
  --fg-banner:        #544;

  /* <h2|a|code> and specific emphasis */
  --bg-accent:        #b884;
  --fg-accent-border: brown;
  --fg-accent:        brown;

  /* <kbd> and special inline content */
  --bg-key:           #8884;
  --fg-key-border:    #888;
}

@media (prefers-color-scheme: dark) {
  :root {
    /* <html|body|main> background and text colors */
    --bg-root:          #151417;
    --bg-main:          #1a1a1f;
    --bg-main-shadow:   #111;
    --fg-main-border:   #111;
    --fg-main:          #ccc;

    /* banner -- the foreground matches the favicon #rocket color */
    --fg-banner-border: #cbb5;
    --fg-banner:        #cbb;

    /* <h2|a|code> and specific emphasis */
    --fg-accent-border: #f967;
    --fg-accent:        #f96;
  }
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Main Layout                          │
 * ╰───────────────────────────────────────────────────────────────╯
**/

:root {
  --main-padding: 12px;
  --list-indent: 1.5em;
}

html {
  height: 100%;
  width:  100%;
  font-family: sans-serif;
  background-color: var(--bg-root);
}

.quack {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'><text y='1em' font-size='5rem'>🦆</text></svg>");
  background-repeat: repeat;
  background-size: 10rem;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: auto;
  max-width: 60em;
  min-height: 100%;

  line-height: 1.4em;
  border-left:  1px solid var(--fg-main-border);
  border-right: 1px solid var(--fg-main-border);
  box-shadow: 0px 1px 10px var(--bg-main-shadow);
  background-color: var(--bg-main);
  color: var(--fg-main);
}

main {
  padding: 0 var(--main-padding);
}

h2 {
  color: var(--fg-accent);
  border-bottom: 1px inset var(--fg-accent-border);
}

h3 {
  border-bottom: 1px dotted;
}

h2, h3, footer {
  margin-top: 2em;
}

dialog::backdrop {
  backdrop-filter: blur(5px);
}

.highlight {
  max-width: 42em;
  margin: auto;
  padding: 1em;
  background-color: var(--bg-banner);
}

img {
  max-width: 100%;
}

figure {
  margin: 2em 0;
  text-align: center;
}

sup { /* match the <body> 1.4em line-height */
  vertical-align: super;
  line-height: 0.4em;
}

ol, ul {
  padding-left: var(--list-indent);
  margin-left: 0;
}

dd {
  margin-left: var(--list-indent);
  padding-left: 0;
}

dd,
dt {
  margin-bottom: 0.5em;
}

li,
dd p {
  margin: 0.2em 0;
}

table {
  width: 100%;
}

th, td {
  padding: 0.2em 0.5em;
}

table caption {
  caption-side: bottom;
}

figure {
  max-width: 45em;
  margin: 2em auto;
}

a[href] {
  color: var(--fg-accent);
  text-decoration: none;
}

a[href]:hover {
  text-decoration: underline;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                        Header & Footer                        │
 * ╰───────────────────────────────────────────────────────────────╯
**/

#banner {
  min-height: 50px;
  box-sizing: border-box;
  background: left var(--main-padding) center no-repeat url(../favicon.svg);
  background-size: 50px;
  background-color: var(--bg-banner);
  padding: .5em 0 0.5em calc(var(--main-padding) + 64px);
}

#banner p.title {
  font-size: 2em;
  font-weight: bold;
}

#banner p {
  margin: 0.4em 0 0;
}

#banner,
#banner a,
footer {
  color: var(--fg-banner);
}

header nav,
footer {
  padding-left:  var(--main-padding);
  padding-right: var(--main-padding);
  border-top: 1px solid var(--fg-banner-border);
  text-align: right;
}

header nav,
footer nav {
  display: flex;
  justify-content: end;
}

header nav a,
footer nav a {
  padding-left: .5em;
}

header nav a:not(:last-child),
footer nav a:not(:last-child) {
  padding-right: .5em;
  border-right: 1px solid var(--fg-banner-border);
}

header h1 {
  text-align: center;
  font-size: 2em;
  line-height: 1em;
  margin: 1.8em auto 1.2em;
}

main > p:first-child {
  text-align: center;
  text-wrap: balance;
  margin: -1em auto 2em;
}

footer {
  padding-bottom: 0.5rem;
}

footer small {
  float: left;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Keys & Chars                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

kbd, span.odk { /* key */
  margin: 0 2px;
  font-size: 1em;
  border: 1px outset var(--bg-key-border);
  background-color: var(--bg-key);
  padding: 2px 3px;
}

code { /* character, digrams, trigrams */
  font-weight: bold;
  font-family: serif;
  background-color: var(--bg-accent);
  padding: 2px 4px;
  border-radius: 2px;
}


/**
 * ╭───────────────────────────────────────────────────────────────╮
 * │                          Desktop Mode                         │
 * ╰───────────────────────────────────────────────────────────────╯
**/

@media only screen and (min-width: 768px) {
  :root {
    --main-padding: 40px;
    --list-indent: 2.5em;
  }
  .highlight {
    border-radius: 6px;
  }
}
