{{ $default_layout := "ergol" }}
{{ $layouts := dict
  "en" (dict
    "qwerty"      "Qwerty"
    "dvorak"      "Dvorak"
    "colemak"     "Colemak"
    "colemak-dh"  "Colemak-DH"
    "workman"     "Workman"
    "ISRT"        "ISRT"
    "MTGAP"       "MTGAP"
    "sturdy"      "Sturdy"
  )

  "fr" (dict
    "azerty"      "Azerty"
    "lafayette"   "Lafayette"
    "ergol"       "Ergo‑L"
    "erglace"     "Erglace"
    "colemak-french-touch" "Colemak French Touch"
    "bepolar"     "Bépolar"
    "bepo"        "Bépo"
  )
}}

<select id="layout">
  {{ range $language, $layouts_language := $layouts }}
    <option disabled>  [{{ $language }}]</option>
    {{ range $json_name, $displayed_name := $layouts_language }}
      {{ if eq $default_layout $json_name }}
        <option value="{{ $json_name }}" selected> {{ $displayed_name }} </option>
      {{ else }}
        <option value="{{ $json_name }}"> {{ $displayed_name }} </option>
      {{ end }}
    {{ end }}
  {{ end }}
</select>
