{{ $name := .Get "name" }}
<div class="keyboard">
  <div style="width: 100%; padding-top: 34%; position: relative;">
    <object type="image/svg+xml"
            {{ with .Get "class" }} class="{{ . }}" {{ end }}
            {{ with .Get "data" }} data="/img/{{ . }}.svg" {{ end }}
      style="position: absolute; top: 0; left: 0; width: 100%;"></object>
  </div>
  <p>
    <span>powered by <a
        href="https://onedeadkey.github.io/x-keyboard/">x-keyboard</a>
    </span>
    <small>géométrie :</small>
    <select>
      <option>ISO</option>  <!-- filled when loaded -->
    </select>
  </p>

  {{ if $name }}
    {{ with .Get "data" }}
    <dialog>
      <input spellcheck="false" placeholder="zone de saisie {{ $name }}" />
      <x-keyboard src="/layouts/{{ . }}.json"></x-keyboard>
    </dialog>
    {{ end }}
    <nav>
      {{ with .Get "href" }}
        <a href="{{ . }}"><span>⇣</span> Installer</a>
      {{ end }}
      {{ with .Get "data" }}
        <button disabled>⇪ Tester</button>
        <a href="/stats/#/{{ . }}//en+fr"><span>𝚺</span> Stats</a>
        <a href="/dactylo/#{{ . }}"><span>⌨</span> Apprendre</a>
      {{ end }}
    </nav>
  {{ end }}
</div>
