{{ $name := .Get "name" }}
<div class="keyboard">
  {{ with .Get "layout" }}
    <img src="/img/{{ . }}.svg">
    <p>
      <span>powered by <a
          href="https://onedeadkey.github.io/x-keyboard/">x-keyboard</a>
      </span>
      <small>géométrie :</small>
      <select>
        <option value="dk iso">ISO</option>
      </select>
    </p>
  {{ end }}
  {{ if $name }}
    {{ with .Get "layout" }}
    <dialog id="demo">
      <input spellcheck="false" placeholder="zone de saisie {{ $name }}" />
      <x-keyboard src="/layouts/{{ . }}.json"></x-keyboard>
    </dialog>
    {{ end }}
    <nav>
      {{ with .Get "href" }}
        <a href="{{ . }}"><span>⇣</span> Installer</a>
      {{ end }}
      {{ with .Get "layout" }}
        <button disabled>⇪ Tester</button>
        <a href="/stats/#/{{ . }}//en+fr"><span>𝚺</span> Stats</a>
        <a href="/dactylo/#{{ . }}"><span>⌨</span> Apprendre</a>
      {{ end }}
    </nav>
  {{ end }}
</div>
