{{ define "main" }}
  {{ .Content }}

  <h2>Articles récents
    <a href="articles/index.xml" title="flux RSS">
      <img src="/rss.svg" alt="flux RSS" style="height: 1em;"></a>
  </h2>

  {{ range first 10 (where site.RegularPages "Section" "articles") }}
    <article>
      <header>
        <h3>{{ .LinkTitle }}</h3>
        <time><a href="{{ .RelPermalink }}">{{ time.Format ":date_medium" .Date }}</a></time>
      </header>
      {{ .Summary }}
      <nav class="more"><a href="{{ .RelPermalink }}">Lire la suite…</a></nav>
    </article>
  {{ end }}
{{ end }}
